.main{
    height: 127px;
    color: #ee0909;
    background-color: black;
}
*{
    margin: 0;
}
.free{
    background: black;
    color: rgb(246, 246, 246);
    padding: 10px 0;
    text-align: center;
    font-size: 12x;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.line {
height: 0.1px;
background-color: rgb(76, 71, 71);
border: none;
}           
.title{
    width: 120px;
    height: 26px;
    padding-top: 32px;
    padding-left: 119px;
  
}
.list{
    padding-left: 300px;
    width: 50%;
    margin-top: -22px;
    font-family: 'Montserrat', sans-serif;
    list-style: none; 
    display: flex;
    gap: 20px;
    color: white;
    font-size: 20x;
}
.icon{
    padding-left: 1300px;
    margin-top: -22px;
    display: flex;
    gap: 18px;
    color: #ffffff;
    font-size: 20px;
}

.yellow{
    padding-left: 37px;
}
.booksrow1{
   display: flex;
   height: 362px;
   padding-left: 136px;
   gap: 45px;
   padding-top: 36px;
}

.booksrow2{
   display: flex;
   height: 362px;
   padding-left: 136px;
   gap: 45px;
   padding-top: 36px;
}

.booksrow3{
   display: flex;
   height: 362px;
   padding-left: 136px;
   gap: 45px;
   padding-top: 36px;

}

.founder img{
    padding-top: 73px;
    padding-left: 119px;
    width: 394px;
    height: 527px;
}
.foundertext{
    padding-left: 591px;
    margin-top: -470px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.foundertext h3{
    color: #646363;
}
.button button{
    margin-left: 591px;
    margin-top:  33px;
    height: 50px;
    padding-left: 10px;
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
.divvv{
    
    height: 700px;
}
.footer{
    background-color: black;
    height: 450px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img{
    padding-top: 20px;
    font-size: 30px;
}